AddType application/vnd.android.package-archive .apk


php_value display_errors On
php_value date.timezone UTC



RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]



DirectoryIndex index.html



# 允许 POST 请求访问 RegisterBackend.php，拒绝其他方法
<Files "RegisterBackend.php">
    <RequireAll>
        Require all granted
        Require method POST
    </RequireAll>
</Files>



